@import "../globals";

.image {
  aspect-ratio: 5.5 / 1;
  border-radius: 2vw;
  @include background;
  @include place-content(center, center);
  @media (max-width: $mobile) {
    aspect-ratio: 3 / 1;
    filter: drop-shadow(0 0) !important;
  }
}

.text {
  color: $color1;
  filter: drop-shadow(0 0.4vw 2px rgba(0, 0, 0, 0.4));
  text-shadow: $color4 0px 0px 1px, $color4 0px 0px 1px, $color4 0px 0px 1px,
    $color4 0px 0px 1px, $color4 0px 0px 1px, $color4 0px 0px 1px;
  @include font(3.2vw, 700);
  & span {
    @media (max-width: $mobile) {
      display: inline-block;
      width: 100%;
    }
  }
  @media (max-width: $mobile) {
    font-size: 6.3vw;
    margin-left: 5vw;
    text-shadow: none;
  }
}
