$color1: #f6f6f6;
$color2: #ff6060;
$color3: #fbfbfb;
$color4: #000000;
$mobile: 375px;

@mixin font($s, $w) {
  font-size: $s;
  font-weight: $w;
}

@mixin grid($c, $g) {
  display: grid;
  grid-template-columns: $c;
  row-gap: $g;
}

@mixin place-content($a, $j) {
  display: flex;
  align-items: $a;
  justify-content: $j;
} 

@mixin background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}